@use "../abstracts" as *;

header {
  /* Position Stuff */
  width: 100%;

  /* Box Model Stuff */
  background-color: $color-background-default;
  /* Display Stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's on top of everything */
  padding: $size-6;
  /* Typography Stuff */
  font-family: $header-font-family;
  font-size: $header-1-font-size;
  font-weight: $header-font-weight;
  letter-spacing: $header-letter-spacing;
  line-height: $header-line-height;
  text-transform: $header-text-transform;
  color: $header-color-default;
  /* Manipulation Stuff */
  // ===== Desktop Medium ===== //
  @include mq(large) {
    //box-shadow: $box-shadow-neumorphic-neutral;
    display: none; /* Hide the header on medium screens */
  }
  /* Misc */
}
