// Global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-gray-100: hsl(0 0% 95%);
$-clr-gray-200: hsl(0 0% 82.5%);
$-clr-gray-300: hsl(0 0% 70%);
$-clr-gray-400: hsl(0 0% 60%);
$-clr-gray-500: hsl(0 0% 50%);
$-clr-gray-600: hsl(0 0% 40%);
$-clr-gray-700: hsl(0 0% 30%);
$-clr-gray-800: hsl(0 0% 17.5%);
$-clr-gray-900: hsl(0 0% 7.5%);
$-clr-black: hsl(0 0% 0%);

$-clr-red-100: hsl(0 75% 95%);
$-clr-red-200: hsl(0 75% 82.5%);
$-clr-red-300: hsl(0 75% 70%);
$-clr-red-400: hsl(0 75% 60%);
$-clr-red-500: hsl(0 75% 50%);
$-clr-red-600: hsl(0 75% 40%);
$-clr-red-700: hsl(0 75% 30%);
$-clr-red-800: hsl(0 75% 17.5%);
$-clr-red-900: hsl(0 75% 7.5%);

$-clr-alabaster-100: hsl(40 75% 95%);
$-clr-alabaster-200: hsl(30 75% 82.5%);
$-clr-alabaster-300: hsl(30 75% 70%);
$-clr-alabaster-400: hsl(30, 75%, 60%);
$-clr-alabaster-500: hsl(30 75% 50%);
$-clr-alabaster-600: hsl(30 75% 40%);
$-clr-alabaster-700: hsl(30 75% 30%);
$-clr-alabaster-800: hsl(30 75% 17.5%);
$-clr-alabaster-900: hsl(30 75% 7.5%);

$-clr-green-100: hsl(130, 75%, 95%);
$-clr-green-200: hsl(130 75% 82.5%);
$-clr-green-300: hsl(130 75% 70%);
$-clr-green-400: hsl(130 75% 60%);
$-clr-green-500: hsl(130, 75%, 50%);
$-clr-green-600: hsl(130 75% 40%);
$-clr-green-700: hsl(130 75% 30%);
$-clr-green-800: hsl(130 75% 17.5%);
$-clr-green-900: hsl(130 75% 7.5%);

// ===== Abstract ===== //
// Themes
$light: (
    'neutral': (
        '000': $-clr-white,
        '100': $-clr-gray-100,
        '200': $-clr-gray-200,
        '300': $-clr-gray-300,
        '400': $-clr-gray-400,
        '500': $-clr-gray-500,
        '600': $-clr-gray-600,
        '700': $-clr-gray-700,
        '800': $-clr-gray-800,
        '900': $-clr-gray-900,
        '1000': $-clr-black
    ),
    'primary': (
        '100': $-clr-green-100,
        '200': $-clr-green-200,
        '300': $-clr-green-300,
        '400': $-clr-green-400,
        '500': $-clr-green-500,
        '600': $-clr-green-600,
        '700': $-clr-green-700,
        '800': $-clr-green-800,
        '900': $-clr-green-900
    ),
    'accent': (
        '100': $-clr-red-100,
        '200': $-clr-red-200,
        '300': $-clr-red-300,
        '400': $-clr-red-400,
        '500': $-clr-red-500,
        '600': $-clr-red-600,
        '700': $-clr-red-700,
        '800': $-clr-red-800,
        '900': $-clr-red-900
    ),
    'error': (
        'background': $-clr-red-200,
        'text': $-clr-red-800

    )
);

// ===== Contextual ===== //
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
$color-primary-700: var(--primary-700);
$color-primary-800: var(--primary-800);
$color-primary-900: var(--primary-900);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);
$color-accent-600: var(--accent-600);
$color-accent-700: var(--accent-700);
$color-accent-800: var(--accent-800);
$color-accent-900: var(--accent-900);

$color-error-text: var(--error-text);
$color-error-background: var(--error-background);
