@use '../abstracts/' as *;

.container {
    /* Position Stuff  */
    //position: relative;
    /* Box Model Stuff */
    //margin: 0 auto; /* Center the container horizontally */
    padding-bottom: $size-12;
    //min-height: 100vh;
    /* Display Stuff */
    //display: grid;
    //grid-template-rows: auto 1fr auto;
    //overflow: hidden;

    /* Typography Stuff */

    /* Manipulation Stuff */
    // ===== Desktop ===== //
    @include mq(large) {
        padding-bottom: 0;
        padding-top: $size-16;
    }
}
